<!DOCTYPE html>
<html>
    <head>
       <title>Home</title>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div id="wrapper">
            <div id="nav">
                <p>
                    <em>Home</em> |
                    <a href="\ninjas">Ninjas</a> |
                    <a href="\dojos\new">Dojos</a>
                </p>
            </div>
            <h1>Home</h1>
            <p>Welcome to the Ninja Home Page where you can learn about Ninjas and Dojos</p>
        </div>
    </body>
</html>