<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ninjas</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div id="wrapper">
            <div id="nav">
                <p>
                    <a href="\">Home</a> |
                    <em>Ninjas</em> |
                    <a href="\dojos\new">Dojos</a>
                </p>
            </div>
            <h1>Information about Ninjas</h1>
            <p>A ninja (忍者) or shinobi (忍び) was a covert agent or mercenary in feudal Japan. The functions of the ninja included espionage, sabotage, infiltration, assassination and guerrilla warfare.</p>
        </div>
    </body>
</html>